*{
    margin: 0;
    padding: 0;

}

.logo{

    width:13% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{

    width: 100%;

}
.navbar{
    background-color: rgb(12, 161, 161);

    display: flex;
    width: auto;
}
.nav-list{
    width: 50%;
   
    display: flex;
    align-items: center;


}
.nav-list li{
    list-style-type:none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color:  rgb(255, 255, 255);


}
.nav-list li a:hover{
    text-decoration:aqua;
    color: rgb(36, 199, 248);
}

.rightNav{
    
    width: 60%;
    text-align: right;
}
#search{
    padding: 10px;
    margin-top: 2%;
    font-size: 17px;
    height: 19%;
    border: 2px solid grey;
    border-radius: 9px;

}

.background{
    background-image: linear-gradient ( rgb(0,0,0,0.7)) ,( rgb(0,0,0,0.7)) url('..img/background3.jpg');
    background-size: cover;
    background-blend-mode: darken;
}


.title{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.title h1{
    color: white;
    font-size: 70px;


}

.title h2{
    color: rgb(30, 141, 175);
    font-size: 33px;
    


}


.btn{
    vertical-align: middle;
    size: 20px;
    top: 50%;
    left: 50%;
    margin: auto;
    justify-content: center;
}
.btn-d{
    vertical-align: middle;
    size: 25px;
    font-size: xx-large;
    
    color:black;
    border: black;
    margin: auto;
    display: flex;
    justify-content: center;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.btn-dark{
    color: rgb(17, 16, 16);
    border: 3px solid grey;
}

.section{
    height: 90%;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
}
.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 10%;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}
.sectionTag {
    font-size: 35px;
}
.section-left{
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
}


.contact{
    background-color: #f6f5f4;
    height: 800px;
}
.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: 'Ubantu' sans-serif;
}
.form{
    max-width: 500px;
    margin: 25px auto;
}


.form-input{
    margin: 14px 0;
    padding: 5px 3px; 
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.text-footer{
    text-align: center;
    padding-top: 30px; 
    font-family:'UBuntu',sans-serif;
    display: flex;
    justify-content: center;
}
.button {
    background-color: #0b0c0c;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    max-width: 500px;
     margin: auto;
    align-items: center; 
    margin: 4px 2px;
    cursor: pointer;
      }